<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Details</key>
		<string>What is it?</string>
		<key>Name</key>
		<string>About Trigger Happy</string>
		<key>Icon</key>
		<string>helpIcon.png</string>
		<key>SegueID</key>
		<string>PushToAboutViewController</string>
	</dict>
	<dict>
		<key>Details</key>
		<string>Nuts and bolts</string>
		<key>Name</key>
		<string>Advances Settings</string>
		<key>Icon</key>
		<string>settingIcon.png</string>
		<key>SegueID</key>
		<string>PushToAdvancesSettingsViewController</string>
	</dict>
</array>
</plist>
